// Секція особливості

// .features {
//   display: flex;
//   flex-wrap: wrap;
// }
  
.features__item {
  
  //setting
  &-setting {
    margin-right: 30px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  // MEDIA MOBILE 
  @media screen and (min-width: 480px) {
    width: 450px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

    @media screen and (max-width: 480px) {
      max-width: 450px;
  
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    
}

.features__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;

  background-color: $team-bg-color;

  //setting
  &-setting {
    margin-bottom: 30px;
  }

  // MEDIA MOBILE 
  
}

.features__title {
  color: $primary-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  //setting
  &-setting {
    margin-bottom: 10px;
  }

  // MEDIA MOBILE
  @media screen and (min-width: 480px) {
    text-align: center;
  }

    @media screen and (max-width: 480px) {
      text-align: center;
    }
}

.features__text {
  color: $secondary-text-color;
  font-size: 14px;
  line-height: 1.71;

}
