// Секція Команди Розробників 

 .team-list {
//   display: flex;
//   flex-wrap: wrap;

  // MEDIA MOBILE 
  
}

.team-list__item {
  // width: 270px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
              0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: $additional-bg-color;
  border-radius: 0px 0px 4px 4px;

  // //setting
  // &-setting {
  //   margin-right: 30px;

  //   &:last-child {
  //     margin-right: 0;
  //   }
  

  // MEDIA MOBILE
  @media screen and (min-width: 480px) {
    width: 450px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.team-list__photo {
  
  // MEDIA MOBILE
  @media screen and (max-width: 480px) {
    width: 450px;
    
  } 
}

.team-list__box {
  padding-top: 30px;
  // padding-bottom: 30px;

  // MEDIA MOBILE
  @media screen and (min-width: 480px) {
    padding-bottom: 24px;
  }
}

.team-list__name {
  margin-bottom: 10px;

  color: $list-name-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-list__position {
  margin-bottom: 16px;

  color: $secondary-text-color;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

// Соц мережі

.team-list__socials {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;

  // MEDIA MOBILE
  @media screen and (min-width: 480px) {
    justify-content: center;
  }
}

.team-list__item-socials {
  margin-left: 10px;

  &:nth-child(1) {
    margin-left: 0;
  }
}

.team-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  // hover,focus
  &--focused:hover,
  &--focused:focus {
    background-color: $interactive-text-color;
  }
}

.team-list__icon {
  fill : $team-svg-bg;
  width: 20px;
  height: 20px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  // hover,focus
  .team-list__link:hover &,
  .team-list__link:focus & {
    fill: $additional-text-color;
  }
}

