// Глобальні налаштування 

body {
  font-family: $primary-font-style;
  letter-spacing: 0.03em;
  
  background-color: $additional-bg-color;
  
  color: $secondary-text-color;
}

body.modal-open {
  overflow: hidden;
}

// Секції

.section {

  background-color: $additional-bg-color;

  // Padding 0 - section WORK
  &:nth-last-child(3) {
    padding-top: 0;
  }

  // background-color - section TEAM
  &:nth-last-child(2) {
    background-color: $team-bg-color;
  }

  // MEDIA MOBILE/TAB
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  // MEDIA DESKTOP
  @media screen and (min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

}

.section__title {
  color: $primary-text-color;
  font-weight: 700;
  text-align: center;

  // MEDIA MOBILE/TAB 
  @media screen and (max-width: 1199px) {
    font-size: 28px;
    line-height: 1.17;
  }

  // MEDIA DESKTOP
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
  }
}

.section_title-setting {
  
  // MEDIA MOBILE/TAB
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }

  // MEDIA DESKTOP
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

// Глобальне налаштування контейнеру

.container {
  // width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  // :::::::::::MEDIA MOBILE

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  // ::::::::::::MEDIA TAB
  
  @media screen and (min-width: 768px) {
    width: 768px;
  }

  // :::::::::::MEDIA DESKTOP
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

/* Паттерн visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Налаштунок фото */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Глобальне скидання */
h1,
h2,
h3,
h4,
h5,
h6,
p {
 margin: 0; 
 padding: 0;
}

/* Налаштування для списків */
ul {
  margin: 0;
  padding: 0;

  list-style: none;
}