// Шрифти
$logo-font-style : 'Raleway' , sans-serif ;
$primary-font-style: 'Roboto' , sans-serif ; 

 /* Текстові змінні */
 $primary-text-color: #212121;
 $secondary-text-color: #757575;
 $interactive-text-color: #2196F3;
 $additional-text-color: #FFFFFF;
 $footer-text-contact: rgba(255, 255, 255, 0.6);
 $logo-text-color: #000000;
 /* Фонові змінні */
 $additional-bg-color: #FFFFFF;
 $primary-bg-color: #F5F5F5;
 $service-bg-color:#C4C4C4;
 $team-bg-color: #F5F4FA;
 $footer-bg-color: #2F303A;
 /* Інші змінні */
 $portfolio-text-color: #757575;
 $list-name-color: #212121;
 $additional-btn-color: #188CE8;
 $card-border-color: #EEEEEE;
 $header-line-color: #ECECEC;
 $border-clients-static: #AFB1B8;
 $btn-list-color: #F5F4FA;
 $team-svg-bg: #AFB1B8;
 $card-inner-bg: rgba(33, 150, 243, 0.9);
 /* Змінні модального вікна */
 $modal-bg-color: #FFFFFF;
 $modal-text-color: #212121;
 $label-checkbox-span-color: #757575;
 $modal-field-focus-color: #2196f3;

